<% provide(:title, "Sign in") %>
<h1 class="title">Sign in</h1>
<%= form_for(:session, url: sessions_path, html: { class: 'form-sign-in' }) do |f| %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Sign in", class: "submit" %>

  <p>New user? <%= link_to "Sign up now!", signup_path %></p>
<% end %>


