<% provide(:title, "Edit user") %>
<h1 class="title">Update your profile</h1>

<div class="register-form">
  <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation, "Confirm Password" %>
    <%= f.password_field :password_confirmation %>

    <%= f.submit "Save changes", class: "submit" %>
  <% end %>

  <%= gravatar_for @user %>
  <a href="http://gravatar.com/emails">change</a>
</div>