<% provide(:title, @user.name) %>
<p class="name">
  <b>Name:</b> <%= @user.name %>
</p>
<p class="email">
  <b>Email:</b> <%= @user.email %>
</p>
<p>
  <b>Gravatar:</b>
  <%= gravatar_for @user, size: 100 %>
</p>
