/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    width: 900px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    background: #730E15;
    padding: 10px;
    h1 {
        margin: 0;
        color: #dcdcdc;
    }
    nav ul {
        display: flex;
        list-style: none;
        height: 100%;
        padding: 0;
        margin: 0;
        align-items: center;
        li {
            margin-right: 20px;
        }
        a {
            text-decoration: none;
            color: #b1b6b7;
            &:hover {
                color: aliceblue;
            }
        }
    }
}

footer {
    background: #730E15;
    padding: 20px;
    margin-top: 20px;
    ul {
        display: flex;
        list-style: none;
        height: 100%;
        padding: 0;
        margin: 0;
        align-items: center;
        li {
            margin-right: 20px;
        }
        a {
            text-decoration: none;
            color: #b1b6b7;
            &:hover {
                color: aliceblue;
            }
        }
    }
}

.alert-success {
    padding: 10px;
    background: #DDF1D8;
    color: #70b95c;
    margin: 10px 0;
    display: inline-block;
}

.alert-error {
  padding: 10px;
  background: #F3DDDD;
  color: #ff8284;
}

.error_explanation {
    ul {
        list-style: none;
        padding: 0;
        color: red;
    }
}

.title {
    text-align: center;
}

.debug_dump {
    width: 100%;
    margin-top: 45px;
    background: #CCCCCC;
    padding: 10px;
    border: 1px solid #464646;
    border-radius: 10px;
}

.register-form > form,
.new_user,
.form-sign-in {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;

    label {
        margin-top: 10px;
    }

    input[type="text"],
    input[type="password"] {
        margin-top: 10px;
        border-radius: 0;
        border: 1px solid black;
        padding: 5px 5px;
        width: 100%;
    }

    .submit {
        margin: 0 auto;
        margin-top: 20px;
        width: 80%;
        padding-top: 10px;
        padding-bottom: 10px;
        background: cornflowerblue;
        border: none;
        color: white;
        cursor: pointer;
        &:hover {
            color: #e1e1e1;
        }
    }
}

.field_with_errors {
    color: red;
    border-color: red;
    & :first-child {
        margin: 0 !important;
    }
    margin-top: 10px;
}
