<body>
  <%= render 'layouts/header' %>

  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "alert alert-#{key}") %>
  <% end %>

  <%= yield %>

  <%= render 'layouts/footer' %>

  <%= debug(params) if Rails.env.development? %>
</body>
